
@model List<Sita.Modules.Default.SearchBagtag.FlightBagModel>
@{
    int rowNumber = 1;
    int pageSize = 10;
    int pageNumber = Convert.ToInt32(ViewBag.PageNumber);
    if (pageNumber > 1)
    {
        rowNumber = pageSize * (pageNumber - 1) + rowNumber;
    }

    var datas = Model;
    var transCode = string.Empty;
}

<h4 id="booking-title">
    <span class="text-uppercase">Result</span>
   
</h4>

<div class="box-body table-responsive no-padding">
    <div >
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th class="text-center bg-primary">No</th>
                    <th class="text-center bg-primary">Flight Code</th>
                    <th class="text-center bg-primary">ScheduleDate</th>
                    <th class="text-center bg-primary">Adi</th>
                    <th class="text-center bg-primary">LineCode</th>
                    <th class="text-center bg-primary">Number</th>
                    <th class="text-center bg-primary">Chute</th>
                    <th class="text-center bg-primary">DateBounday</th>
                    <th class="text-center bg-primary">SiteIata</th>
                    <th class="text-center bg-primary">SoftReplace</th>

                    <th class="text-center bg-primary">Bag tag</th>
                    <th class="text-center bg-primary">DDMM</th>
                    <th class="text-center bg-primary">YYYY</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in datas)
                    {

                <tr data-id="@item.Id">

                    <td class="text-center">@rowNumber</td>
                    <td class="text-center">@item.FlightRef</td>
                    <td class="text-center">@item.ScheduleDate</td>
                    <td class="text-center">@item.Adi</td>
                    <td class="text-center">@item.LineCode</td>
                    <td class="text-center">@item.Number</td>
                    <td class="text-center">@item.Chute</td>
                    <td class="text-center">@item.DateBoundary</td>
                    <td class="text-center">@item.SiteIata</td>
                    <td class="text-center">@item.SoftReplace</td>
                    <td class="text-center">@item.BaggageTag</td>
                    <td class="text-center">@item.DDMM</td>
                    <td class="text-center">@item.YYYY</td>


                </tr>
                        rowNumber++;
                    }
                }
                else
                {
                    <tr class="mvc-grid-empty-row">
                        <td colspan="13">
                            Không có dữ liệu
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Raw(ViewBag.Paging)
    </div>
</div>


